h1{
    font-family: sans-serif;
    color:cadetblue;
    text-shadow: 2px 2px 4px black;
    width:fit-content;
    margin:auto;
    padding: 5px;
    border: 10px double;
    font-style: italic;
}

h2{
    font-family: serif;
    color: beige;
    text-shadow: 2px 2px 4px black;
    width:fit-content;
    margin:auto;
    padding: 5px;
    font-style: italic;
}

body{
    font-family: Helvetica, sans-serif;
    background: url('images/Wedding1.jpg');
    background-repeat: no-repeat;
}

#content table tbody td{
    color:lightblue;
    text-shadow: 2px 2px 4px black;
    width:fit-content;
    margin:auto;
    padding: 5px;
}